.container {
    min-width: 100%;
    min-height: 100vh;
    color: #fff;
    background: transparent;
    display: grid; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    justify-items: center;
    align-items: center;
    z-index: 2;

    &-home {
        color: #000;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        
        div { 
            grid-area: 1 / 2 / 2 / 3;
            padding: 0 20px 0 20px;
        } 
    }

    .planet-card {
        height: 100%;
        width: 50vw;
    }

    &-inner-planets {
        position: relative;
        text-align: left;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.15fr auto auto auto auto auto auto auto auto; 
        overflow: hidden;
        justify-items: left;

            .planet-info-mercury { 
                grid-area: 2 / 1 / 3 / 2;
            } 
            .planet-card-mercury { 
                grid-area: 3 / 1 / 4 / 2;
            } 
            .planet-info-venus { 
                grid-area: 4 / 1 / 5 / 2;
            } 
            .planet-card-venus { 
                grid-area: 5 / 1 / 6 / 2;
            } 
            .planet-info-earth { 
                grid-area: 6 / 1 / 7 / 2; 
            } 
            .planet-card-earth {
                grid-area: 7 / 1 / 8 / 2;
            } 
            .planet-info-mars { 
                grid-area: 8 / 1 / 9 / 2;
            } 
            .planet-card-mars { 
                grid-area: 9 / 1 / 10 / 2;
                margin-bottom: 50px; 
            }  
                        
    }

    &-outer-planets {
        position: relative;
        text-align: left;
        width: 2700px;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.15fr auto auto auto auto auto auto auto auto; 
        justify-items: left;
        
            .planet-info-jupiter { 
                grid-area: 2 / 1 / 3 / 2;
            } 
            .planet-card-jupiter { 
                grid-area: 3 / 1 / 4 / 2;
                // margin-bottom: 200px;
            } 
            .planet-info-saturn { 
                grid-area: 4 / 1 / 5 / 2;
            } 
            .planet-card-saturn { 
                grid-area: 5 / 1 / 6 / 2;
            } 
            .planet-info-uranus { 
                grid-area: 6 / 1 / 7 / 2; 
            } 
            .planet-card-uranus {
                grid-area: 7 / 1 / 8 / 2;
            } 
            .planet-info-neptune { 
                grid-area: 8 / 1 / 9 / 2;
            } 
            .planet-card-neptune { 
                grid-area: 9 / 1 / 10 / 2; 
            } 
    }

    &-sun {
        position: relative;
        grid-template-columns: auto auto; 
        grid-template-rows: 1fr; 
        grid-column-gap: 10px;
        
        .sun-info { 
            grid-area: 1 / 1 / 2 / 2;
            margin: 0 15px 0 15px;
            max-width: 80%;
        }   
        
        #svg-sun { 
            grid-area: 1 / 2 / 2 / 3; 
            margin-right: 50px;
        
            path {
                // fill: none;
                stroke-linejoin: round;
            }
                  
            .sphere,
            .graticule {
                stroke: rgba(170, 170, 170, 0.3);
            }
        } 

        h4 {
            border-bottom: 1px solid #fff;
        }

        .wrapper-div {
            display: flex;
            justify-content: center;
            text-align: left;

            ul {
            list-style: none;
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            padding: 10px;
            }
        }
    }

    &-dwarf {
        position: relative;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.25fr auto; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        h4 { 
            grid-area: 1 / 1 / 2 / 2; 
            width: 65%;
        } 

        #svg-dwarf { grid-area: 2 / 1 / 3 / 2; } 
    }
}

@media only screen and (max-width: 1000px) {
    .container-sun {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        grid-column-gap: 0px;
        #svg-sun { 
            grid-area: 1 / 1 / 2 / 2;
            margin: 0;
        } 
        .sun-info { grid-area: 2 / 1 / 3 / 2; } 
    }
}