.container {
    width: 100%;
    background: transparent;
    display: grid; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    justify-items: center;
    align-items: center;
    // overflow: hidden;
    z-index: 2;

    &-home {
        height: 100vh;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        
        div { 
            grid-area: 1 / 2 / 2 / 3;
            padding: 0 10px 0 10px;
        } 
    }

    &-inner-planets {
        position: relative;
        text-align: left;
        color: #fff;
        min-height: 100%;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr; 
            .planet-card-mercury { grid-area: 2 / 1 / 3 / 2; } 
            .planet-info-mercury { grid-area: 2 / 2 / 3 / 3; } 
            .planet-info-venus { grid-area: 3 / 1 / 4 / 2; } 
            .planet-card-venus { grid-area: 3 / 2 / 4 / 3; } 
            .planet-card-earth { grid-area: 4 / 1 / 5 / 2; } 
            .planet-info-earth { grid-area: 4 / 2 / 5 / 3; } 
            .planet-info-mars { grid-area: 5 / 1 / 6 / 2; } 
            .planet-card-mars { grid-area: 5 / 2 / 6 / 3; } 
    }

    &-outer-planets {
        position: relative;
        text-align: left;
        color: #fff;
        min-height: 100%;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr; 
            .planet-card-jupiter { grid-area: 2 / 1 / 3 / 2; } 
            .planet-info-jupiter { grid-area: 2 / 2 / 3 / 3; } 
            .planet-info-saturn { grid-area: 3 / 1 / 4 / 2; } 
            .planet-card-saturn { grid-area: 3 / 2 / 4 / 3; } 
            .planet-card-uranus { grid-area: 4 / 1 / 5 / 2; } 
            .planet-info-uranus { grid-area: 4 / 2 / 5 / 3; } 
            .planet-info-neptune { grid-area: 5 / 1 / 6 / 2; } 
            .planet-card-neptune { grid-area: 5 / 2 / 6 / 3; } 
    }
}