.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), whitesmoke);
    border-top-style: solid;
    border-width: 1px;

    div {
        width: 50%;
        display: flex;
        justify-content: center;
        background: transparent;

        a {
            text-decoration: none;

            svg {
                color: black;
            }
        }
    }

}