.app {
  min-height: 100%;
  min-width: 100%;
  width: fit-content;
  text-align: center;
//   overflow: hidden;

  svg {
    background: transparent;
  }

  .disclaimer {
    position: fixed;
    bottom: 7px;
    right: 15px;
    color: grey;
    z-index: 10;

        p {
            font-size: 0.6em;
            margin: 0;
        }
    }
}




