.planet-card {

    &-jupiter {

        .great-red-spot {
            width: 150px;
            height: 80px;
            transform: translate(385px, -310px) rotate(-25.2deg);
            border-radius: 50%;
            background:radial-gradient(ellipse at center, rgb(179,111,40), rgb(193,140,70), rgb(210,156,89), rgb(179,111,40), rgb(165,145,134));
            box-shadow: 0px -5px 25px 15px #bfb7a0;
        }
    }

    &-saturn {
        // perspective: 10000px;
        perspective-origin: center;
        transform-style: preserve-3d;

        .saturn-rings {
            width: 1600px;
            height: 590px;
            top: -40px;
            left: -500px;
            position: fixed;
            transform: rotate3d(0.9, 0.1, -0.5, 75deg);
            border-radius: 50%;
            background: radial-gradient(ellipse at center,  rgba(24,19,25,0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgba(65,64,70,1) 62%,rgba(90,85,89,1) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);  
            box-sizing: border-box;
            z-index: -1;
        }
    }
}

.planet-info {

    h2 {
        padding-left: 50px;
    }
}

.svg {

    &-planet {
        position: relative;
        overflow: visible;
    }

    &-mercury {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    &-venus {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    &-earth {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    &-mars {
        margin-top: 100px;
        margin-bottom: 250px;
    }

    &-jupiter {
        margin-top: 75px;
        margin-bottom: 300px;
    }

    &-saturn {
        margin-top: 50px;
        margin-bottom: 350px;
    }

    &-uranus {
        margin-top: 50px;
        margin-bottom: 150px;
    }

    &-neptune {
        margin-top: 50px;
        margin-bottom: 350px;
    }
}

.planet circle {
    stroke: #123;
    stroke-opacity: 0.15;
    stroke-width: 1px;
    cursor: pointer;
}

.axis-line {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0.3;   
}

.tool-tip-moon, .tool-tip-planet, .tool-tip-dwarf {	
    text-align: center;			
    width: fit-content;	
    max-width: 500px;				
    height: fit-content;					
    padding: 15px;				
    background: black;
    border-radius: 8px;			
    pointer-events: none;	
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    transform-style: none;
    z-index: 10;

    h4 {
        border-bottom: 1px solid #fff;
        justify-self: auto;
    }

    img {
        height: 200px;
        margin-right: 15px;
    }

    ul {
        list-style: none;
        text-align: left;
        padding-left: 0;
        margin-right: 10px;

        li {
            font-size: 0.8rem;
        }
    }
}

.tool-tip-moon {
    position: absolute;
}

.tool-tip-planet {
    position: fixed;
    top: 10px;
    right: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(176, 196, 222, 0.7) 100%);

    span {
        display: flex;
        flex-direction: row;
    }

    img {
        justify-self: center;
    }
}

.tool-tip-dwarf {
    position: absolute;
    opacity: 1;
    max-width: 100%;
    max-height: 50%;
    bottom: 10px;
    left: 0;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(176, 196, 222, 0.7) 100%);

    .dwarf-modal-body {
        display: flex;
        flex-direction: column;
    }

    span {
        display: flex;
        justify-content: center;
    }
}