// .planet-card {
//     // width: 300px;
//     // height: 300px;

//     // svg {
//     //     width: 150px;
//     //     height: 150px; 
//     // }
// }

.bounding-box {
    fill: white;
    fill-opacity: 0;
    stroke: #fff;
    stroke-opacity: 0.5;
    stroke-dasharray: 3,3;
}

.planet circle, .graticule {
    // fill: none;
    stroke: #123;
    stroke-opacity: 0.15;
}

.planet circle {
    stroke-width: 1px;
}

.axis-line {
    stroke: #fff;
    stroke-opacity: 0.3;   
}
