.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.disclaimer {
    position: absolute;
    bottom: 7px;
    right: 15px;
    color: grey;
    opacity: 0.8;

    p {
        font-size: 0.6em;
        margin: 0;
    }
}

.svg-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    // background: whitesmoke;
}

.orbital {
    fill: transparent;
    stroke: #ccc;
    opacity: 0.7;
}

.mercury {
    fill: grey;
}

.venus {
    fill: brown;
}

.earth {
    fill: blue;
}

.mars {
    fill: red;
}

.jupiter {
    fill: rgb(238, 130, 72);
}

.saturn {
    fill: goldenrod;
}

.uranus {
    fill: #adb0c3;
}

.neptune {
    fill: #3f54ba;
}